<!DOCTYPE html>
<html lang="fr">

    <!-- Head du HTML -->
    <head>
        <meta charset="utf-8">
        <meta name="author" content="matthieu" >
        <!-- Titre de la page Web -->
        <title>
            {% block title%}{% endblock %} - LINFO1002
        </title>

        {% block css%}
                <!-- Le fichier css que vous voulez ajouter dans votre HTML -->
        {% endblock %}

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
    </head>

    <!-- Corp du site -->
    <body>
        <!--Menu de navigation-->
        <div class="menu-nav">
            <h1>LINFO1002</h1>
            <a href="/">Accueil</a> <!-- Page d'acceuil -->
            <a href="/pleine_lune">Passage à la pleine lune</a>
        </div>

        <!-- corp du site -->
        <section class="top-page" id="content">
            <div class="main-page">
                <p>
                    {%block content%}{%endblock%}
                </p>
            </div>
        </section>


    </body>
</html>
